.todos {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

.todoPlaceholderText {
  font-family: "Homemade apple", sans-serif;
  font-size: 22px;
  text-align: center;
  padding: 14px;
}

.addButtonPlaceholderText {
  font-family: "bungee", sans-serif;
  font-size: 20px;
}
